    .container {
        background-image: url('../img/city.jpg');
        background-repeat: no-repeat;
        background-size: 1000px;
        border-radius: 30px;
        margin-top: 30px;
        margin-right: 10px;
    }

    h1 {
        text-align: center;
        font-family: 'Playfair Display', serif;
        text-transform: uppercase;
        padding-top: 20px;
        color: white;
    }

    #myCity {
        display: block;
        margin-right: 60px;
    }
    #background {
        background: rgba(129, 88, 54, 0.30);
        border-radius: 30px;
        display: inline-block;
        margin-left: 30px;
        padding-right: 20px;
        color: white;

    }

    .forecastBackground {
        background: rgba(150, 106, 73, 0.295);
        margin-top: 50px;
        color: white;
        display: inline-block;
        margin-left: 40px;
        border-radius: 30px;
        padding-left: 20px;
        margin-top: 20px;
    }

    

    li {
        list-style: none;
        text-transform: capitalize;
    }

    ul#dateAndTemp li img {
        margin-left: 30px;
    }

    ul#dateAndTemp li {
        display: inline;
        font-family: 'Nunito', sans-serif;
        font-size: 20px;
    }

    ul#dateAndTemp li #weatherDescription {
        display: inline;
        margin-left: 5px;
        margin-right: 20px;
    }

   

    ul#dateAndTemp #degrees {
        font-size: 50px;
        padding-left: 25px;
        font-family: 'Playfair Display', serif;
    }

    .fa-cloud-sun {
        font-size: 60px;
    }

    #time {
        text-align: center;
        font-family: 'Nunito', sans-serif;
        font-size: 30px;
        margin-left: 50px;
        margin-bottom: 30px;
    }

    a {
        color: black;
        text-decoration: none;
        font-weight: bold;
    }

    a:hover {
        color: rgb(77, 42, 42);
    }

    .row {
        font-family: 'Nunito', sans-serif;
        font-size: 20px;
        
    }

    .fa-tint-slash {
        font-size: 30px;
        margin-left: 20px;
    }

    #humidityInfo {
        display: inline;
    }

    #windInfo {
        display: inline;
    }

    #precipitationInfo {
        display: inline;
    }
    .fa-wind {
        font-size: 30px;
        margin-left: 20px;
    }

    .fa-cloud-showers-heavy {
        font-size: 30px;
    }

 
    .form-control {
        width: 150px;
        margin: 0 auto;
        display: block;
        position: relative;
    }

    .btn-secondary {
        background: rgba(129, 88, 54, 0.60);
        border-color: rgba(129, 88, 54, 0.30);
        display: block;
        margin: 0 auto;
    }

    .btn-secondary:hover {
        background-color: #532e1c;
    }

    p {
        font-family: 'Nunito', sans-serif;
        text-align: center;
    }

   .weather-forcast h3 {
    font-size: 20px;
   }

   .weather-forcast-temperature {
    font-family:'Times New Roman', Times, serif;
   }
